<span *ngIf="!loading">
  <app-pic *ngFor="let post of data.posts" [post]="post"></app-pic>
  <div id="banner">
    <span id="text1"><a [href]="'https://www.instagram.com/'+data.username" target="_blank">{{data.username}}</a></span><span id="text2">by <a href="https://gitlab.com/instapager/instapager" target="_blank">InstaPager</a></span>
    <a [href]="'https://www.instagram.com/'+data.username" target="_blank"><img [src]="data.profile_pic" height="30px" id="logo" /></a>
  </div>
</span>
<app-loader *ngIf="loading" [data]="data"></app-loader>