#banner {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #1F2224;
    padding: 12px;
    padding-left: 30px;
    font-family: "Lucida Console";
    color: whitesmoke;
    a {
        color: inherit;
        text-decoration: none;
    }
    
    a:hover 
    {
         color:inherit; 
         text-decoration:none; 
         cursor:pointer;  
    }
    #text1 {
        text-transform: uppercase;
        font-size: 200%;
    }
    #text2 {
        font-size: 130%;
        padding-left: 10px;
        font-variant: small-caps;
    }
    #logo {
        float: right;
        margin-right: 50px;
        border-radius: 50%;
    }
}