.pic {
    display: inline-block;
    width: 25%;
    background-size: cover;
    cursor: pointer;
    .desc {
        position: relative;
        bottom: 10px;
        left: 10px;
        text-transform: uppercase;
        font-family: sans-serif;
        color: whitesmoke;
        font-size: 75%;
    }
}

.pic:before {
    content: "";
    display: block;
    padding-top: 75%;
}